<br />
<div class="header">TAREA 4</div>
<hr />
<div class="container" padding="padding-top">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameEvent)="checkGameEvent($event)"
        (gameStopped)="stopGameEvent()"
      ></app-game-control>
    </div>
  </div>
  <hr />
  <br />
  <div class="row">
    <div class="col-xs-6">
      <app-odd *ngFor="let odd of arrayOdds" [createOdd]="odd"></app-odd>
    </div>
    <div class="col-xs-6">
      <app-even *ngFor="let even of arrayEvens" [createdEven]="even"></app-even>
    </div>
  </div>
</div>
